# -------------------------
# Personal documents
# -------------------------
docs/*.docx
docs/*.pptx
docs/*Presentation.pdf
docs/*InterimReport.pdf
docs/*Feedback*.pdf

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Laravel env files
# -------------------------
apps/*/.env

# -------------------------
# JMeter result artifacts
# -------------------------
bench/results/*.jtl
bench/results/*.log
docs/B01651145_HonsProject.pdf
