# -------------------------
# Personal documents
# -------------------------
B01651145_HonsProject.docx
B01651145_HonsProject_InterimReport.pdf
B01651145_HonsProject_Presentation.pdf
B01651145_HonsProject_Presentation.pptx
IR-Feedback-B01651145-Corey-Black.pdf

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Laravel env files
# -------------------------
apps/*/.env

# -------------------------
# JMeter result artifacts
# -------------------------
bench/results/*.jtl
bench/results/*.log